@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .social-link {
    @apply p-2 rounded-full bg-white/10 backdrop-blur-sm border border-white/20 
           hover:bg-white/20 transition-all duration-300
           text-primary-600 dark:text-primary-300 hover:text-primary-500 
           dark:hover:text-primary-200;
  }

  .nav-link {
    @apply flex items-center gap-2 text-primary-600 dark:text-primary-300 
           hover:text-primary-500 dark:hover:text-primary-200 transition-colors duration-300;
  }

  .tech-badge {
    @apply px-4 py-2 rounded-full bg-white/10 backdrop-blur-sm border border-white/20 
           hover:bg-white/20 transition-all duration-300;
  }
} */

:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
}